		<div id="footer-v6" class="footer-v6">
			<div class="footer">
				<div class="container">
					<div class="row">
<!-- Contacts -->
						<div class="col-md-3">
							<div class="heading-footer"><h2>Contact</h2></div>
							<ul class="list-unstyled contacts">
								<!-- <li>
									<i class="radius-3x fa fa-map-marker"></i>
									795 Folsom Ave, Suite 600,
									San Francisco, CA 94107
								</li> -->
								<li>
									<i class="radius-3x fa fa-phone"></i>
									(+123) 456 7890
								</li>
								<li>
									<i class="radius-3x fa fa-globe"></i>
									<a href="#">MrLodeStar@aol.com</a><br>
									<a href="#">www.LodeStarStone.com</a>
								</li>
							</ul>
						</div>
						<!-- End Contacts -->
					</div>
				</div><!--/container -->
			</div>

				<div class="copyright">
				<div class="container" style="height:5vh;">
					<div class="row">
						
							<ul style="text-align:center;" class="list-inline dark-social space-bottom-0">
								<li>
									<a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook" href="http://www.facebook.com">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Pinterest" href="#">
										<i class="fa fa-pinterest"></i>
									</a>
								</li>
								<li>
									<a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Instagram" href="#">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
								<li>
									<a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Youtube" href="#">
										<i class="fa fa-youtube"></i>
									</a>
								</li>
								
							</ul>
					
					</div>
				</div>
		</div>