<div class="breadcrumbs" style="padding:0;background:none;border:none;height:8vh">
			<div class="container">
				<ul style="font-size" class="pull-right breadcrumb">
					<li><a href="index">HOME</a></li>
					<li><a href="the_work">THE WORK</a></li>
					<li><a href="the_man">THE MAN</a></li>
					<li><a href="the_studio">THE STU-DIO</a></li>
				</ul>
			</div><!--/container-->
		</div>