<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Rockart Discs™</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-v6fixed.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
	<div class="wrapper" style="background:black;">
		<!--=== Header ===-->
	{{>nav2}}
		<!--=== End Header ===-->

		<!--=== breadcrumbs v3 ===-->
		
		<!--=== End breadcrumbs v3 ===-->
		<div class="row" style="padding:0;margin:0; display:block;height:30px;background-color:black">
		</div
		<!--=== Cube-Portfdlio ===-->
		<div class="cube-portfolio">
			<div class="content-xs" style="background-color:black">
				<div id="filters-container" class="cbp-l-filters-text content-xs">
					<div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
					<div data-filter=".a" class="cbp-filter-item"> Signs of Life Symbols </div> |
					<div data-filter=".b" class="cbp-filter-item"> Symbols We Live By </div> |
					<div data-filter=".c" class="cbp-filter-item">  Celebrations Signs and Symbols </div> |
				</div><!--/end Filters Container-->
			</div>

			<div id="grid-container" class="cbp-l-grid-agency">
				<div class="cbp-item a">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/a/a1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/a/a1.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item a">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/a/a2.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/a/a2.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item a">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/a/a3.jpg" alt="">						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/a/a3.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item a">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/a/a4.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/a/a4.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item a">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/a/a5.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/a/a5.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item a">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/a/a6.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/a/a6.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item a">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/a/a7.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/a/a7.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item a">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/a/a8.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/a/a8.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item a">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/a/a9.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/a/a9.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item b">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/b/b1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/b/b1.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item b">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/b/b2.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/b/b2.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item b">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/b/b3.jpg" alt="">						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/b/b3.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item b">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/b/b4.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/b/b4.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item b">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/b/b5.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/b/b5.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item b">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/b/b6.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/b/b6.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item b">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/b/b7.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/b/b7.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item b">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/b/b8.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/b/b8.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item b">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/b/b9.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/b/b9.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item c">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/c/c1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/c/c1.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item c">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/c/c2.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/c/c2.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item c">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/c/c3.jpg" alt="">						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/c/c3.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item c">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/c/c4.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/c/c4.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item c">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/c/c5.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/c/c5.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item c">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/c/c6.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/c/c6.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item c">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/c/c7.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/c/c7.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item c">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/c/c8.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/c/c8.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item c">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/1/c/c9.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/1/c/c9.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--/end Grid Container-->
		</div>
		<!--=== End Cube-Portfdlio ===-->

		<!--=== Footer Version 1 ===-->
		
{{>social}}
		
		<!--=== End Footer Version 1 ===-->
	</div><!--/wrapper-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
	<script type="text/javascript" src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/plugins/cube-portfolio/cube-portfolio-3-ns.js"></script>
	<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->

</body>
</html>
