<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Coins, Jewelry, Lapels, Pins</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-v6fixed.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
	<div class="wrapper" style="background:black;">
		<!--=== Header ===-->
		{{>nav2}}
		<!--=== End Header ===-->

		<!--=== Breadcrumbs v3 ===-->
		
		<!--=== End Breadcrumbs v3 ===-->
		<div class="row" style="padding:0;margin:0; display:block;height:30px;background-color:black">
		</div>


		
		<div class="cube-portfolio">
			<div class="content-xs" style="background-color:black">
			</div>

			
			<div id="grid-container" class="cbp-l-grid-agency">
				

				<div class="cbp-item">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-1.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-2.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-2.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-3.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-3.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-4.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-4.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item ">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-5.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-5.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-6.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-6.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item ">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-7.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-7.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item ">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-8.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-8.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item ">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-9.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-9.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
							
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item ">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-10.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-10.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item identity logo">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-11.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-11.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item identity">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-12.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-12.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item identity">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-13.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-13.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item identity">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-14.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-14.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item identity">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/2/2-15.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/2/2-15.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				
				
			</div><!--/end Grid Container-->
		</div>
		<!--=== End Cube-Portfdlio ===-->

		<!--=== Footer Version 1 ===-->
		
{{>social}}
		
		<!--=== End Footer Version 1 ===-->
	</div><!--/wrapper-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
	<script type="text/javascript" src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/plugins/cube-portfolio/cube-portfolio-3-ns.js"></script>
	<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->

</body>
</html>
