<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>SPACES</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-v6fixed.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
	<div class="wrapper" style="background:black;">
		<!--=== Header ===-->
	{{>nav2}}
		<!--=== End Header ===-->

		<!--=== Breadcrumbs v3 ===-->
		
		<!--=== End Breadcrumbs v3 ===-->
		<div class="row" style="padding:0;margin:0; display:block;height:30px;background-color:black">
		</div>


		<div class="cube-portfolio">
			<div class="content-xs" style="background-color:black">
				<div id="filters-container" class="cbp-l-filters-text content-xs">
					<div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
					<div data-filter=".res" class="cbp-filter-item"> residential </div> |
					<div data-filter=".com" class="cbp-filter-item"> Commercial </div> |
					<div data-filter=".hos" class="cbp-filter-item"> Hospitality </div> |
					<div data-filter=".sea" class="cbp-filter-item"> Seals, Coats of Arms </div> |
					<div data-filter=".sto" class="cbp-filter-item"> Stock Designs </div> |
					<div data-filter=".cus" class="cbp-filter-item"> Custom Designs </div> 
				</div><!--/end Filters Container-->
			</div>

			<div id="grid-container" class="cbp-l-grid-agency">
				

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res1.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res2.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res2.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res3.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res3.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res4.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res4.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res5.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res5.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res6.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res6.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res7.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res7.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res8.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res8.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res9.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res1.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res10.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res10.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res11.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res11.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res12.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res12.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res13.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res13.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res14.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res14.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res15.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res15.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res16.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res16.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res17.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res17.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res18.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res18.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res19.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res19.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res20.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res20.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res21.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res21.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res22.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res22.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res23.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res23.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res24.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res24.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res25.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res25.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res26.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res26.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res27.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res27.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res28.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res28.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res29.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res29.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res30.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res30.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res31.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res31.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res31.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res31.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res32.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res32.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res33.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res33.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res34.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res34.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res35.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res35.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res36.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res36.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res37.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res37.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res38.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res38.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res39.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res39.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res40.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res40.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res41.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res41.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res42.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res42.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res43.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res43.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res44.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res44.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res45.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res45.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res46.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res46.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res47.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res47.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res48.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res48.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res49.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res49.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res50.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res50.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res51.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res51.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res52.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res52.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res53.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res53.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res54.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res54.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res56.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res56.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res57.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res57.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res58.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res58.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res59.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res59.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res60.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res60.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res61.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res61.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res62.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res62.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res63.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res63.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res64.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res64.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res65.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res65.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res66.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res66.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res67.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res67.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res68.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res68.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res69.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res69.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res70.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res70.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res71.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res71.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res72.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res72.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res73.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res73.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res74.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res74.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res75.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res75.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res76.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res76.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res77.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res77.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res78.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res78.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res79.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res79.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res80.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res80.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res81.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res81.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item res">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/res/res82.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/res/res82.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cbp-item com">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/com/com1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/com/com1.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title">Anne Taylor Floor</div>
									<div class="cbp-l-grid-agency-desc"><a href="https://www.anntaylor.com">www.anntaylor.com</a></div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item com">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/com/com2.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/com/com2.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title">Banco Napoli Floor</div>
									<div class="cbp-l-grid-agency-desc"><a href="https://www.intesasanpaolo.com/">www.intesasanpaolo.com</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item com">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/com/com3.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/com/com3.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title">Sogo Department Store Floor Medallion</div>
									<div class="cbp-l-grid-agency-desc"><a href="https://www.sogo.com.tw">www.sogo.com.tw</a></div>
									https://www.sogo.com.tw
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item com">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/com/com4.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/com/com4.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title">White Eagle Gold Club Logo Floor Medallion</div>
									<div class="cbp-l-grid-agency-desc"><a href="http://www.whiteeaglegc.com/">www.whiteeaglegc.com</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item hos">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/hos/hos1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/hos/hos1.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title"> 03</div>
									<div class="cbp-l-grid-agency-desc">Web Design</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sea">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/seals/sea1.pdf" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/seals/sea1.pdf" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title"> West Point United States Military Academy Floor</div>
									<div class="cbp-l-grid-agency-desc"><a href="www.usma.edu">www.usma.edu</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="cbp-item sea">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sea/sea2.pdf" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sea/sea2.pdf" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title"> West Point United States Military Academy Floor</div>
									<div class="cbp-l-grid-agency-desc"><a href="www.usma.edu">www.usma.edu</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sea">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sea/sea3.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sea/sea3.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title"> West Point United States Military Academy Floor</div>
									<div class="cbp-l-grid-agency-desc"><a href="www.usma.edu">www.usma.edu</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sea">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sea/sea4.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sea/sea4.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title"> Lawrence Woodmere Academy Floor</div>
									<div class="cbp-l-grid-agency-desc"><a href="www.Lawrencewoodmere.org">www.lawrencewoodmere.org</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sea">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sea/sea6.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sea/sea6.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title"> West Point United States Military Academy Floor</div>
									<div class="cbp-l-grid-agency-desc"><a href="www.usma.edu">www.usma.edu</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sea">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sea/sea7.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sea/sea7.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title"> Seal of the President of the United States </div>
									<div class="cbp-l-grid-agency-desc"><a href="www.whitehouse.gov">www.whitehouse.gov</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sea">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sea/sea8.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sea/sea8.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									<div class="cbp-l-grid-agency-title"> West Point Seal</div>
									<div class="cbp-l-grid-agency-desc"><a href="www.westpoint.com">www.westpoint.com</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="cbp-item sto">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sto/sto1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sto/sto1.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sto">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sto/sto2.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sto/sto2.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sto">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sto/sto3.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sto/sto3.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sto">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sto/sto4.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sto/sto4.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sto">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sto/sto5.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sto/sto5.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sto">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sto/sto6.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sto/sto6.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sto">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sto/sto7.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sto/sto7.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sto">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sto/sto8.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sto/sto8.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item sto">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/sto/sto9.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/sto/sto9.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>

			
				<div class="cbp-item cus">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/cus/cus1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/cus/cus1.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item cus">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/cus/cus2.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/cus/cus2.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item cus">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/cus/cus3.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/cus/cus3.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item cus">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/cus/cus4.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/cus/cus4.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item cus">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/cus/cus5.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/cus/cus5.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item cus">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/cus/cus6.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/cus/cus6.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item cus">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/cus/cus7.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/cus/cus7.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item cus">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/cus/cus8.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/cus/cus8.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item cus">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/cus/cus9.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/cus/cus9.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item cus">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/cus/cus10.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/cus/cus10.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cbp-item cus">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="assets/img/lodestar/6/cus/cus11.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions">
										<!-- <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li> -->
										<li><a href="assets/img/lodestar/6/cus/cus11.jpg" class="cbp-lightbox" data-title=""><i class="rounded-x fa fa-search"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div><!--/end Grid Container-->
		</div>
		<!--=== End Cube-Portfdlio ===-->

		<!--=== Footer Version 1 ===-->
		
{{>social}}
		
		<!--=== End Footer Version 1 ===-->
	</div><!--/wrapper-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
	<script type="text/javascript" src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/plugins/cube-portfolio/cube-portfolio-3-ns.js"></script>
	<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->

</body>
</html>
