<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>LodeStar: Statements in Stone</title>
{{>socialhead}}
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	{{>custom}}


	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-v6.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v6.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/sliding-panel/style.css">
	<link rel="stylesheet" href="assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
</head>

<body class="header-fixed promo-padding-top sliding-panel-ini sliding-panel-flag-right" style="background-color:black">
	<div class="wrapper">
		<!--=== Header v6 ===-->
		<div class="header-v6 header-classic-white header-sticky">
			<!-- Navbar -->
			
			<!-- End Navbar -->
		</div>
		<!--=== End Header v6 ===-->

		<!-- Colorfull Block -->
			<div style="margin:0; padding:0">
			<h1 class="homeheadline" style="padding:0; margin:auto;font-family:'helvetica'; font-weight:bolder;font-size:14vh; position:absolute;top:35vh;color:white; width:100%;text-align:center; line-height:100%; display:block; margin:auto; z-index:2;max-height:50%">LODESTAR<br>STATEMENTS IN STONE</h1>
			
			<a id="column1" href="../the_work" style="margin:0;padding:0">
				<div class="col-sm-4 equal-height-column" style="padding:0;margin:0;height:95vh;">

					<div id="wordbox1" style="display:inline-block; z-index:5; position:absolute; padding-left:35px; padding-top:3px; padding-bottom:3px; padding-right:3px;background-color:red;top:10%; height;">
							<h2 id="page1" style="display:inline-block;padding:0; margin:0;color:gray; font-size:15px; font-family:helvetica;">THE WORK</h2>
					</div>
					
					
					
					<div id="picture1" class="service-block no-margin-bottom content-sm" style=" background-image:url('/assets/img/lodestar/home/work.jpg'); background-size:cover; background-position:center; background-repeat:no-repeat; height:100%; padding:0">
						<!--text box-->
							<!--end text box-->
					</div>
					
				</div>
			</a>
			<a id="column2" href="../theman" style="margin:0; padding:0">
				<div class="col-sm-4 equal-height-column" style="padding:0; margin:0; height:95vh;">

					<div id="wordbox2" style="display:inline-block; z-index:5; position:absolute; padding-left:35px; padding-top:3px; padding-bottom:3px; padding-right:3px;background-color:red;top:10%; height;">
							<h2 id="page2" style="display:inline-block;padding:0; margin:0;color:gray; font-size:15px; font-family:helvetica;">THE MAN</h2>
					</div>
					
					
					
					<div id="picture2" class="service-block no-margin-bottom content-sm" style=" background-image:url('/assets/img/lodestar/man/man.jpg'); background-size:cover; background-position:center top; background-repeat:no-repeat; height:100%; padding:0">
						<!--text box-->
							<!--end text box-->
					</div>
					
				</div>
			</a>
			<a id="column3" href="../the_studio" style="margin:0; padding:0">
				<div class="col-sm-4 equal-height-column" style="padding:0; margin:0; height:95vh;">

					<div id="wordbox3" style="display:inline-block; z-index:5; position:absolute; padding-left:35px; padding-top:3px; padding-bottom:3px; padding-right:3px;background-color:red;top:10%; height;">
							<h2 id="page3" style="display:inline-block;padding:0; margin:0;color:gray; font-size:15px; font-family:helvetica;">THE STU-DIO</h2>
					</div>
					
					
					
					<div id="picture3" class="service-block no-margin-bottom content-sm" style=" background-image:url('/assets/img/lodestar/studio/studio.jpg'); background-size:cover; background-position:center; background-repeat:no-repeat; height:100%; padding:0">
					</div>
					
				</div>
			</a>
			
			</div>
		
		<!-- Colorfull Block -->

{{>social}}
	
	</div><!--/wrapper-->

<!-- Sliding Panel -->

<!-- End Sliding Panel -->


<!-- JS Global Compulsory -->
<!-- <script src="assets/plugins/jquery/jquery.min.js"></script> -->
<script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="assets/plugins/back-to-top.js"></script>
<script src="assets/plugins/smoothScroll.js"></script>
<script src="assets/plugins/jquery.parallax.js"></script>
<script src="assets/plugins/counter/waypoints.min.js"></script>
<script src="assets/plugins/counter/jquery.counterup.min.js"></script>
<script src="assets/plugins/skrollr/skrollr-ini.js"></script>
<script src="assets/plugins/wow-animations/js/wow.min.js"></script>
<script src="assets/plugins/backstretch/backstretch-ini.js"></script>
<script src="assets/plugins/sliding-panel/jquery.sliding-panel.js"></script>
<script src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<!-- JS Page Level -->
<script src="assets/js/app.js"></script>
<script src="assets/js/plugins/style-switcher.js"></script>
<script src="assets/js/plugins/owl-carousel.js"></script>
<script src="assets/js/plugins/cube-portfolio/masonry-v1.js"></script>
<!-- JS Customization -->
<script src="assets/js/custom.js"></script>
<!-- JS Initialization -->
<script type="text/javascript">
	jQuery(document).ready(function() {
		App.init();
		App.initCounter();
		App.initParallaxBg();
		OwlCarousel.initOwlCarousel();
		StyleSwitcher.initStyleSwitcher();
		new WOW().init();
		$('#cbp-lightbox').cubeportfolio({}); // For popup video on the promo block
	});
</script>
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
</body>
</html>
