<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>THE STU-DIO</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-v6fixed.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">


	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
	<div class="wrapper" style="background:black;">
		<!--=== Header ===-->
		{{>nav2}}
		<!--=== End Header ===-->

		<div class="row" style="padding:0;margin:0; display:block;height:30px;background-color:black">
		</div>

		<!--=== Content Part ===-->
		<div class="container content">
			<div class="row margin-bottom-40">
				<div class="col-md-6 md-margin-bottom-40">
					<p>MrLodeStar has been a socialpreneur for decades carefully cultivating relationships with artisans in countries where the craft has been in their families for generations. He will now extend his commitment to social consciousness by supporting orphanages from these communities.</p>
					<ul class="list-unstyled">
						<li><i class="fa fa-check color-red"></i> 979 3rd Ave, 8th Floor</li>
						<li><i class="fa fa-check color-red"></i> New York, NY, 10022</li>
						<li><i class="fa fa-check color-red"></i> Phone #: 212 755 1818</li>
						<li><i class="fa fa-check color-red"></i> Email: LodestarStone@gmail.com</li>
						<li><i class="fa fa-check color-red"></i> www.Lodestarstatementsinstone.com</li>
						<li><i class="fa fa-check color-red"></i> www.Lodestarstone.com</li>
					</ul><br />

					<!-- Blockquotes -->
					<blockquote class="hero-unify" style="border-left:2px solid red">
						<p>"They are so passionate and they take pride in their work because it is their purpose in life according to the system they were born into."</p>
						<small>MrLodestar</small>
					</blockquote>
				</div>

				<div class="col-md-6 md-margin-bottom-40">
					<div class="responsive-video">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/RoP7XCnsfbY" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div><!--/row-->

			<!-- Meer Our Team -->

			
			
			<!-- End Meer Our Team -->

			<!-- Owl Clients v1 -->
			<div class="headline" style="border-bottom:none"><h2>Our Clients</h2></div>
			<div class="owl-clients-v1">
				<div class="item">
					<img src="assets/img/lodestar/clients/1.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/2.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/3.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/4.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/5.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/6.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/7.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/8.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/9.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/10.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/11.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/12.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/13.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/14.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/15.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/16.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/17.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/18.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/19.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/20.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/21.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/22.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/23.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/24.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/25.png" alt="">
				</div>
				<div class="item">
					<img src="assets/img/lodestar/clients/26.png" alt="">
				</div>

			</div>

			<!-- End Owl Clients v1 -->
		</div><!--/container-->
		<div class="headline" style="border-bottom:none"><h2>Testimonials</h2></div>
		<div class="parallax-quote parallaxBg">
					<div class="container">
						<div class="parallax-quote-in">
							<p>Specialty Designers Are Decorating in Duos. There's even a "Michelangelo of MOSAICS." "'He's the Only One.' In some cases, the specialists develop their own followings, as designers used to. When Nancy Gahles, a chiropractor in Belle Harbor, N.Y., wanted a floral mosaic in her entryway, she turned to a specialist referred to in one services guide as "The Michelangelo of Granite" Stewart Ritwo of New York. 'Somebody's got to be it,' says Mr. Ritwo, who created a floor medallion of marble, granite and semi-precious stones, along with a dining-room tabletop, an entryway tabletop and more, for $100,000. 'He's the only one' she would use, says Ms. Gahles. 'I love it. It's art.'"</p>
							<small>- THE WALL STREET JOURNAL ONLINE -</small>
						</div>
					</div>
			</div>
<!-- 
			<div class="row" style="padding:0;margin:0; display:block;height:50px;background-color:black">
			</div> -->

			<div class="parallax-quote parallaxBg">
					<div class="container">
						<div class="parallax-quote-in">
							<p>"I often find people chatting in front of these panels in amazement, and I at times will stop and tell them the story. <span class="color-green">They truly love the stone detail and the location</span> could not be more perfect. On behalf of all of us, thanks for the beautiful contribution to Wynn Las Vegas."</p>
							<small>- KEVIN MILICIA, VICE PRESIDENT, WYNN CASINO, LAS VEGAS, NEVADA -</small>
						</div>
					</div>
			</div>

			<!-- <div class="row" style="padding:0;margin:0; display:block;height:50px;background-color:black">
			</div> -->

			<div class="parallax-quote parallaxBg">
					<div class="container">
						<div class="parallax-quote-in">
							<p>"Mosaics Revived. One presumes Donald Trump was as impressed by the colored-stone mosaics created by LODESTAR as designer Sam Botero, who recommends them, was. LODESTAR recently designed a floor medallion for the spa in Trump's New York apartment, and Botero has commissioned the company to do a tabletop for a client. LODESTAR president Stewart A. Ritwo got into the field as a natural progression from his interest in collecting old stained glass. On business trips to Brazil, he discovered Egyptian craftsmen who had revived and combined the ancient Byzantine and Florentine Renaissance pietre dure styles to come up with a technique that incorporates hand-cut and -set semi-precious and other stones in unique designs. They will do custom surfaces on anything imaginable, using such stones as malachite, sodalite, serpentinite, and onyx in a wide variety of color and styles, from Italianate to high-tech geometrics."</p>
							<small>- PAIGE RENSE REPORTS: THE ARCHITECTURAL DIGEST NEWSLETTER -</small>
						</div>
					</div>
			</div>
		<!--=== End Content Part ===-->

		
	{{>social}}
	</div><!--/wrapper-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
	<script type="text/javascript" src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/plugins/owl-carousel.js"></script>
	<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			OwlCarousel.initOwlCarousel();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->

</body>
</html>
