<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>THE WORK</title>
{{>nav2head}}
	<!-- Meta -->

	{{>custom}}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-v6.css">
	<!-- <link rel="stylesheet" href="assets/css/footers/footer-v6.css"> -->

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/sliding-panel/style.css">
	<link rel="stylesheet" href="assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
</head>

<body class="header-fixed promo-padding-top sliding-panel-ini sliding-panel-flag-right" style="background-color:black">


	<div class="wrapper">
		<!--=== Header v6 ===-->
		
		{{>nav2}}
			<!-- Navbar -->
			
			<!-- End Navbar -->

		<!--=== End Header v6 ===-->

		<!-- Colorfull Block -->
		<div class="container-fluid" style="margin:0; padding:0;">
				<div class="row" style="padding:0;margin:0; display:block;height:7vh;background-color:black">
				</div>

				<a href="../1">
					<div id="column1" class="row" style="padding:0; margin:0; display:block; height:12.5vh; ">
					
						
					
					
					
						<div id="picture1" class="service-block no-margin-bottom content-sm" style=" background-image:url('/assets/img/lodestar/1/A/banner.jpg'); background-size:cover; background-position:center; background-repeat:no-repeat; height:100%; width:100%; padding:0;margin:0;">
							<div id="workbox1" style="display:inline-block; z-index:5;padding-left:35px; padding-top:3px; padding-bottom:3px; padding-right:3px;background-color:gray;top:10%;" >

								<h2 id="work1" style="display:inline-block;padding:0; margin:0;color:black; font-size:15px; font-family:helvetica;">ROCKART DISCS™</h2>
							</div>
						</div>
					</div>
				</a>

				<a href="../2">
					<div id="column1" class="row" style="padding:0; margin:0; display:block; height:12.5vh; ">
					
						
					
					
					
						<div id="picture1" class="service-block no-margin-bottom content-sm" style=" background-image:url('/assets/img/lodestar/2/banner.jpg'); background-size:cover; background-position:center; background-repeat:no-repeat; height:100%; width:100%; padding:0;margin:0;">
							<div id="workbox1" style="display:inline-block; z-index:5;padding-left:35px; padding-top:3px; padding-bottom:3px; padding-right:3px;background-color:gray;top:10%;" >

								<h2 id="work1" style="display:inline-block;padding:0; margin:0;color:black; font-size:15px; font-family:helvetica;">COINS, JEWELRY, LAPELS, PINS</h2>
							</div>
						</div>
					</div>
				</a>
				<a href="../3">
					<div id="column1" class="row" style="padding:0; margin:0; display:block; height:12.5vh; ">
					
						
					
					
					
						<div id="picture1" class="service-block no-margin-bottom content-sm" style=" background-image:url('/assets/img/lodestar/3/banner.jpg'); background-size:cover; background-position:center; background-repeat:no-repeat; height:100%; width:100%; padding:0;margin:0;">
							<div id="workbox1" style="display:inline-block; z-index:5;padding-left:35px; padding-top:3px; padding-bottom:3px; padding-right:3px;background-color:gray;top:10%;" >

								<h2 id="work1" style="display:inline-block;padding:0; margin:0;color:black; font-size:15px; font-family:helvetica;">GIFTS</h2>
							</div>
						</div>
					</div>
				</a> 
				<a href="../4">
					<div id="column1" class="row" style="padding:0; margin:0; display:block; height:12.5vh; ">
					
						
					
					
					
						<div id="picture1" class="service-block no-margin-bottom content-sm" style=" background-image:url('/assets/img/lodestar/4/A/banner.jpg'); background-size:cover; background-position:center; background-repeat:no-repeat; height:100%; width:100%; padding:0;margin:0;">
							<div id="workbox1" style="display:inline-block; z-index:5;padding-left:35px; padding-top:3px; padding-bottom:3px; padding-right:3px;background-color:gray;top:10%;" >

								<h2 id="work1" style="display:inline-block;padding:0; margin:0;color:black; font-size:15px; font-family:helvetica;">WEDDINGS & CELEBRATIONS/RENTAL PROGRAM</h2>
							</div>
						</div>
					</div>
				</a>
				<a href="../5">
					<div id="column1" class="row" style="padding:0; margin:0; display:block; height:12.5vh; ">
					
						
					
					
					
						<div id="picture1" class="service-block no-margin-bottom content-sm" style=" background-image:url('/assets/img/lodestar/5/banner.jpg'); background-size:cover; background-position:center; background-repeat:no-repeat; height:100%; width:100%; padding:0;margin:0;">
							<div id="workbox1" style="display:inline-block; z-index:5;padding-left:35px; padding-top:3px; padding-bottom:3px; padding-right:3px;background-color:gray;top:10%;" >

								<h2 id="work1" style="display:inline-block;padding:0; margin:0;color:black; font-size:15px; font-family:helvetica;">PERSONAL CREATIONS </h2>
							</div>
						</div>
					</div>
				</a>
				<a href="../6">
					<div id="column1" class="row" style="padding:0; margin:0; display:block; height:12.5vh; ">
					
						
					
					
					
						<div id="picture1" class="service-block no-margin-bottom content-sm" style=" background-image:url('/assets/img/lodestar/6/res/banner.jpg'); background-size:cover; background-position:center; background-repeat:no-repeat; height:100%; width:100%; padding:0;margin:0;">
							<div id="workbox1" style="display:inline-block; z-index:5;padding-left:35px; padding-top:3px; padding-bottom:3px; padding-right:3px;background-color:gray;top:10%;" >

								<h2 id="work1" style="display:inline-block;padding:0; margin:0;color:black; font-size:15px; font-family:helvetica;">PUBLIC/PRIVATE SPACES, SEALS & COATS OF ARMS</h2>
							</div>
						</div>
					</div>
				</a>

				<a href="../7">
					<div id="column1" class="row" style="padding:0; margin:0; display:block; height:12.5vh; ">
					
						
					
					
					
						<div id="picture1" class="service-block no-margin-bottom content-sm" style=" background-image:url('/assets/img/lodestar/7/banner.jpg'); background-size:cover; background-position:center; background-repeat:no-repeat; height:100%; width:100%; padding:0;margin:0;">
							<div id="workbox1" style="display:inline-block; z-index:5;padding-left:35px; padding-top:3px; padding-bottom:3px; padding-right:3px;background-color:gray;top:10%;" >

								<h2 id="work1" style="display:inline-block;padding:0; margin:0;color:black; font-size:15px; font-family:helvetica;">PRIVATE LABEL</h2>
							</div>
						</div>
					</div>
				</a>


{{>social}}

	</div><!--/wrapper-->





<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
  
  <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>


<!-- JS Initialization -->
<script type="text/javascript">
	jQuery(document).ready(function() {
		App.init();
		App.initCounter();
		App.initParallaxBg();
		OwlCarousel.initOwlCarousel();
		StyleSwitcher.initStyleSwitcher();
		new WOW().init();
		$('#cbp-lightbox').cubeportfolio({}); // For popup video on the promo block
	});
</script>



<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
</body>
</html>
